@import 'assets/styles/_global.module.scss';
@import 'assets/styles/_variables.scss';
.about {
  position: relative;
  padding-top: 2rem;
  &_wrapper {
    @extend %wrapper;
    display: flex;
  }
  &_bg {
    position: absolute;
    background: linear-gradient(180deg, #16222e 0%, rgba(22, 34, 46, 0) 100%),
      linear-gradient(63.43deg, #367d4d 0%, #00b0b9 50%, #82d89a 100%);
    width: 100%;
    top: 9%;
    z-index: -2;
    height: 100%;
    transform: rotate(-180deg);
  }
}
.card {
  width: 100%;
  color: white;
  text-align: center;
  h1,
  h2 {
    font-family: redhatRegular;
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0em;
  }
  $space: 200px;
  h1 {
    font-weight: 700;
  }
  h2 {
    font-weight: 400;
  }
  &:nth-child(2) {
    margin-top: $space * 1;
  }
  &:nth-child(3) {
    margin-top: $space * 2;
    text-align: right;
  }
}
