@import 'assets/styles/_variables.scss';
%btn {
  display: inline-block;
  border-radius: 40px;
  min-width: 150px;
  outline: none;
  border: none;
  font-family: redhatRegular;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding: 1rem 1.4rem;
  text-align: center;
  cursor: pointer;
  margin: 15px 10px;
  user-select: none;
  &:focus-visible {
    outline: 2px dashed #2f7646;
  }
}
.primary {
  @extend %btn;
  background: #2f7646;
  color: white;
}
.secondary {
  @extend %btn;
  color: #b6b6b6;
  background: rgba(196, 255, 216, 0.6);
}
@media (max-width: '520px') {
  %btn {
    margin: 15px 0px;
    width: 100%;
  }
}
