.container {
  width: min(90%, 1200px);
  display: flex;
  min-height: 600px;
  border-radius: 40px;
}
.row {
  flex-basis: 1;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:nth-child(1) {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}
@media (max-width: '950px') {
  .row {
    &:nth-child(1) {
      display: none;
    }
  }
} ;
