@import 'assets/styles/_global.module.scss';
@import 'assets/styles/_variables.scss';
.more {
  position: relative;
  &_wrapper {
    @extend %wrapper;
    color: white;
    font-family: redhatRegular;
  }
  &_head {
    text-align: center;
    h1,
    h2 {
      font-size: 30px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
    }
    h1 {
      font-weight: 400;
    }
    h2 {
      font-weight: 700;
      text-align: center;
    }
    p {
      max-width: 70%;
      margin: 2rem auto;
      font-size: 1.25rem;
    }
  }
  &_body {
    display: flex;
  }
  &_card {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0em;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
    }
    &_sphere {
      margin-top: auto;
      width: 100%;
    }
  }
  &_arrows {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 2.5rem;
    svg {
      cursor: pointer;
    }
  }
}
.wing {
  position: relative;
  margin-block: -50px;
  z-index: -1;
}
.lottie_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: start;
  max-width: fit-content;
  span {
    padding-bottom: 2rem;
    font-size: 60px;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0em;
    color: #82d89a80;
  }
  &_lottie {
    width: 150px;
  }
}
