.logo {
  /* Rectangle 38 */
  position: relative;
  width: 120px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  align-self: flex-start;
  margin-bottom: 2rem;
  filter: blur(4px);

  border-radius: 20px;
  z-index: 1000 !important;
}
.logoContainer {
  /* Rectangle 38 */
  position: absolute;
  width: 120px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: normal;
  opacity: 0.9;
  align-self: flex-start;
  margin-bottom: 2rem;
  border-radius: 20px;
  z-index: 1000 !important;
}
