@import 'assets/styles/_global.module.scss';
@import 'assets/styles/_variables.scss';
.token {
  background: linear-gradient(180deg, #ffffff 0%, #2b8965 221.01%);
  position: relative;
  padding-top: 3rem;
  &_leftLeaf,
  &_rightLeaf {
    position: absolute;
    top: 0;
    width: 350px;
    height: 350px;
  }

  &_leftLeaf {
    left: 0;
  }
  &_rightLeaf {
    right: 0;
  }
  &_wrapper {
    @extend %wrapper;
    text-align: center;
    color: #313131 !important;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: redhatRegular;
      font-size: 28px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      color: white;
      line-height: 40px;
      text-align: center;
    }
    h1 {
      font-weight: 700;
      font-family: redhatBold;
    }
    p {
      font-size: 1.5rem;
      max-width: 72%;
      margin: 0 auto;
      padding: 4rem 0;
      text-transform: uppercase;
      font-family: redhatRegular;
    }
  }
  &_infos {
    display: flex;
    h1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      line-height: 50px;
      color: #82d89a;
      margin-bottom: 2rem;
      span {
        color: #313131;
        margin-left: 20px;
        font-size: 1.875rem;
        margin-left: 7rem;
      }
    }
  }
  &_description {
    font-size: 1.875rem !important;
    font-family: redhatRegular;
  }
}
.title,
.subtitle {
  color: #313131 !important;
}
