//playfair
@font-face {
  font-family: playfairRegular;
  src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: playfairMedium;
  src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
}
@font-face {
  font-family: playfairBold;
  src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
}

//Red hat
@font-face {
  font-family: redhatRegular;
  src: url('../fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf');
}
@font-face {
  font-family: redhatMedium;
  src: url('../fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf');
}
@font-face {
  font-family: redhatBold;
  src: url('../fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf');
}
