.background {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(63.43deg, #367d4d 0%, #00b0b9 50%, #82d89a 100%);
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
